{% load bets_tags %}
<table class="table col-lg-6">
	{% for event in events %}
	<tr class="info">
		<td colspan=2>
			{{event.name}}
		</td>
		<td>
			{{event.when|date:'M d, Y H:i'}}
		</td>
		<td></td>
	</tr>
	<tr id="{{event.id}}" class="score">
		<td id="label_first_{{event.id}}" class="col-lg-2 text-center">{{event.first}}</td>
		<td class="col-lg-1 text-center"><input id="first_{{event.id}}" type="text" class="form-control text-center num-only col-lg-1" onchange="checkAllBets()"></input></td>
		<td class="col-lg-1 text-center"><input id="second_{{event.id}}" type="text" class="form-control text-center num-only col-lg-1" onchange="checkAllBets()"></input></td>
		<td id="label_second_{{event.id}}" class="col-lg-2 text-center">{{event.second}}</td>
	</tr>
	{% endfor %}
</table>