{% extends "errors_base.html" %}
{% load bets_tags %}
{% block title %}Il y a comme un souci!{% endblock %}
{% block readyoptions %}{% endblock %}
{% block headeroptions %}{% endblock %}
{% block pageheader %}
						<h1 class="">Oups!</h1>
			  			<p class="lead">Vous n'auriez jamais dû arriver sur cette page. Vous n'êtes, tout du moins, pas autorisé à naviguer dans cette section.
			  			<p class="lead">Merci de revenir à l'<a href="/index.html">acceuil</a>.
{% endblock %}
{% block content %}
{% endblock %}