
<option value='MATCH_FINAL'
	{% if value == 'MATCH_FINAL' %}selected{% endif %}>Final match</option>

<option value='MATCH_EIGHTH'
	{% if value == 'MATCH_EIGHTH' %}selected{% endif %}>Last 16 match</option>

<option value='MATCH_SIXTEENTH'
	{% if value == 'MATCH_SIXTEENTH' %}selected{% endif %}>Last 32 match</option>

<option value='MATCH_POOL'
	{% if value == 'MATCH_POOL' %}selected{% endif %}>Pool match</option>

<option value='MATCH_QUARTER'
	{% if value == 'MATCH_QUARTER' %}selected{% endif %}>Quarterfinal match</option>

<option value='MATCH_SEMIFINAL'
	{% if value == 'MATCH_SEMIFINAL' %}selected{% endif %}>Semifinal match</option>

<option value='MATCH_THIRDPLACE'
	{% if value == 'MATCH_THIRDPLACE' %}selected{% endif %}>Third place match</option>
