{% extends "bets_base.html" %}
{% load bets_tags %}
{% block title %}{{group.name}}{% endblock %}
{% block readyoptions %}
						$('#betsDetails').load('/group_details.html?group_id={{group.id}}',detailsLoaded);
{% endblock %}
{% block headeroptions %}
	<script>
		function detailsLoaded(e) {

		}
	</script>
{% endblock %}
{% block pageheader %}
						<h1 class="">{{group.name}}</h1>
						<p class="lead">Ce groupe concerne l'événement: {{group.event.name}}.<br/>
			  			{% if yours.rank %}Dans ce groupe, vous êtes au rang <span class="label label-info">{{yours.rank}}</span> avec un score de <span class="label label-info">{{yours.overall_score}}</span>.{% else %}Vous n'avez pas encore de classement dans ce groupe.{% endif %}
{% endblock %}
{% block content %}
				<div class="row">
					<div class="col-lg-8">
						<table class="table table-condensed table-bordered">
							<tr><th class="text-center">Rang</th><th class="text-center">Surnom</th><th class="text-center">Points</th>{% if allow_amount %}<th class="text-center">Mise (bloquée/totale)</th>{% endif %}</tr>
							{% for rank in ranking %}
							<tr>
								<td class="text-center {% if rank.id == yours.id %}label-info{% endif %}">{% if rank.rank %}{{ rank.rank }}{% else %} - {% endif %}</td>
								<td class="{% if rank.id == yours.id %}label-info{% endif %}">{{ rank.owner.first_name }} {{ rank.owner.last_name }}</td>
								<td class="text-center {% if rank.id == yours.id %}label-info{% endif %}">{{ rank.overall_score }}</td>
								{% if allow_amount %}<td class="text-center{% if rank.id == yours.id %} label-info{% endif %}">{% with total=betted_amounts|get_dict_key:rank.owner.id locked=locked_amounts|get_dict_key:rank.owner.id%}{% if locked %}{{locked}}{% else %}0{% endif %} / {% if total %}{{total}}{% else %}0{% endif %}{% endwith %}</td>{% endif %}
							</tr>
							{% endfor %}
						</table>
					</div>
					<div class="col-lg-4">Les points sont attribués comme suit:
						<ul>
							<li>1 point pour un pronostic correct du vainqueur ou du match nul.</li>
							<li>3 points pour un score correctement trouvé.</li>
						</ul>
					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div id="betsDetails" class="row">
				</div>
{% endblock %}