{% load bets_tags %}
<div class="panel-group" id="betsAccordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#betsAccordion" href="#todayBets">Les matchs d'aujourd'hui</a></h4>
		</div>
		<div id="todayBets" class="panel-collapse collapse in">
			<div class="panel-body">
				<table class="table table-condensed table-border">
					<tr>
						<th style="border: None;"></th>
						{% for current_user in all_users %}
							<th class="text-center">{{current_user.first_name}}</th>
						{% endfor %}
					</tr>
					{% for match in all_matchs %}
						{% if not match.result and match.when|date:'Y-m-d' == today %}
								<tr><td class="warning">{{match.name}}</td>
								{% for bet in all_bets|get_dict_key:match %}
									<td class="warning text-center">{{bet.result.first}} - {{bet.result.second}}{% if allow_amount and bet.amount and bet.amount != 0%}<h6><small>Mise: {{bet.amount}}</small></h6>{% endif %}</td>
								{% endfor %}
						{% endif %}
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#betsAccordion" href="#futureBets">Les matchs à venir</a></h4>
		</div>
		<div id="futureBets" class="panel-collapse collapse">
			<div class="panel-body">
				<table class="table table-condensed table-border">
					<tr>
						<th style="border: None;"></th>
						{% for current_user in all_users %}
							<th class="text-center">{{current_user.first_name}}</th>
						{% endfor %}
					</tr>
					{% for match in all_matchs %}
						{% if not match.result and match.when|date:'Y-m-d' > today %}
								<tr><td class="danger">{{match.name}}</td>
								{% for bet in all_bets|get_dict_key:match %}
									<td class="danger text-center">{{bet.result.first}} - {{bet.result.second}}{% if allow_amount and bet.amount and bet.amount != 0%}<h6><small>Mise: {{bet.amount}}</small></h6>{% endif %}</td>
								{% endfor %}
						{% endif %}
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#betsAccordion" href="#pastBets">Les matchs déjà joués</a></h4>
		</div>
		<div id="pastBets" class="panel-collapse collapse">
			<div class="panel-body">
				<table class="table table-condensed table-border">
					<tr>
						<th style="border: None;"></th>
						{% for current_user in all_users %}
							<th class="text-center">{{current_user.first_name}}</th>
						{% endfor %}
					</tr>
					{% for match in all_matchs %}
						{% if match.result %}
							<tr><td class="success">{{match.name}}<br/><h5 class="text-center"><small>Score final: {{match.display_score}}</small></h5></td>
							{% for bet in all_bets|get_dict_key:match %}
								<td class="text-center {% if match.get_winner == bet.winner %}success{% else %}active{% endif %}">{% if match.result.first == bet.result.first and match.result.second == bet.result.second %}<strong>{% endif %}{{bet.result.first}} - {{bet.result.second}}{% if match.result.first == bet.result.first and match.result.second == bet.result.second %}</strong>{% endif %}<br/><h5><small>Point(s): {{bet.get_score}}</small></h5>{% if allow_amount and bet.amount and bet.amount != 0%}<h6><small>Mise: {{bet.amount}}</small></h6>{% endif %}</td>
							{% endfor %}
							</tr>
						{% endif %}
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>