{% extends "bets_base.html" %}
{% load bets_tags %}
{% block title %}Administration - {{group.name}}{% endblock %}
{% block readyoptions %}{% endblock %}
{% block headeroptions %}
		<script>
			function userNotRemoved(e) {
				alert("An error occured while saving [" + e.message + "].");
			}

			function userRemoved(e) {
				if (e.result) {
					location.reload();
				} else {
					userNotRemoved(e);
				}
			}

			function removeUser(userId) {
				var userRemoveForm = new FormData();
				userRemoveForm.append('user_id', userId);
				userRemoveForm.append('group_id', {{group.id}});
				$.ajax({
					url: '/group_remove_user.html',
					type: 'POST',
					data: userRemoveForm,
					processData: false,
					contentType: false,
					success: userRemoved,
					error: userNotRemoved
				});
			}
		</script>
{% endblock %}
{% block pageheader %}
						<h1 class="">{{group.name}}</h1>
						<p class="lead">Ce groupe concerne l'événement: {{group.event.name}}.<br/>
			  			{% if yours.rank %}Dans ce groupe, vous êtes au rang <span class="label label-info">{{yours.rank}}</span> avec un score de <span class="label label-info">{{yours.overall_score}}</span>.{% else %}Vous n'avez pas encore de classement dans ce groupe.{% endif %}
{% endblock %}
{% block content %}
				<div class="row">
					<div class="col-lg-8">
						<table class="table table-condensed table-bordered">
							<tr><th class="text-center">Rang</th><th class="text-center">Surnom</th><th class="text-center">Points</th>{% if allow_amount %}<th class="text-center">Action</th>{% endif %}</tr>
							{% for rank in ranking %}
							<tr>
								<td class="text-center {% if rank.id == yours.id %}label-info{% endif %}">{% if rank.rank %}{{ rank.rank }}{% else %} - {% endif %}</td>
								<td class="{% if rank.id == yours.id %}label-info{% endif %}">{{ rank.owner.first_name }} {{ rank.owner.last_name }}</td>
								<td class="text-center {% if rank.id == yours.id %}label-info{% endif %}">{{ rank.overall_score }}</td>
								<td class="text-center"><button type="button" class="btn btn-warning btn-sm col-lg-12{% if rank.id == yours.id %} invisible{% endif %}" onclick="removeUser({{rank.owner.id}})">Retirer</button></td>
							</tr>
							{% endfor %}
						</table>
					</div>
					<div class="col-lg-4">Les points sont attribués comme suit:
						<ul>
							<li>1 point pour un pronostic correct du vainqueur ou du match nul.</li>
							<li>3 points pour un score correctement trouvé.</li>
						</ul>
					</div>
				</div>
				<div class="row h4">
					Vous pouvez inviter des personnes dans ce groupe en cliquant <a href="mailto:?Subject=Venez me rejoindre sur unpari.fr&body=Bonjour,%0D%0AVenez me rejoindre sur http://unpari.fr.%0D%0AIl suffit de rentrer dans le site en utilisant son compte Facebook puis de cliquer sur le bouton 'Rejoindre un groupe'.%0D%0AIl vous faut alors de saisir le nom suivant en respectant la casse:{{group.name}}.%0D%0A%0D%0AMerci,%0D%0A{{user.last_name}} {{user.first_name}}" target="_top">sur ce lien</a>.
				</div>
{% endblock %}