{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bets for friends</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="/static/themes/redmond/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
		<script src="/static/jquery-2.1.0.min.js" type="text/javascript"></script>
		<script src="/static/jquery-ui.js" type="text/javascript"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/gammasimos.js"></script>
		<script src="/static/date.js" type="text/javascript"></script>
		<script>

			var allDates = {{all_dates|safe}};
			var all_bets = {{all_bets|safe}};
			var currentDate;

			function availableEventDate(dt) {
				var ymd = dt.toString('yyyy-MM-dd');
				if ($.inArray(ymd, allDates)!=-1) {
					return [true, "", "Available"];
				} else {
					return [false, "", "unAvailable"];
				}
			}


			$(document).ready(function () {
		     	$(".btn").tooltip();
				$(".no-enter").keydown( function(e) {
					if (e.keyCode == 13) {
						e.preventDefault();
					}
				});
				$(".num-only").keydown( function(e) {
					if (e.keyCode==13) {
						e.preventDefault();
					} else {
						if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 || (e.keyCode == 65 && e.ctrlKey === true) || (e.keyCode >= 35 && e.keyCode <= 39)) {
							return;
						}
						if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
							e.preventDefault();
						}
					}
				});
				csrftoken = getCookie('csrftoken');
				$("#eventDate").datepicker({ dateFormat: "yy-mm-dd", beforeShowDay: availableEventDate });
				currentDate = allDates[0];
				$("#eventDate").val(currentDate);
				dateHasChanged();
			   });

			function groupNotJoined(e) {
				$(".label-warning").text("Ce groupe n'existe pas ou n'est pas public.");
			}

			function groupJoined(e) {
				if (e.result) {
					$(".modal").modal('hide');
					location.reload();
				} else {
					groupNotCreated(e);
				}
			}

			function groupNotCreated(e) {
				$(".label-warning").text("Un groupe avec ce nom existe déjà.");
			}

			function groupCreated(e) {
				if (e.result) {
					$(".modal").modal('hide');
					location.reload();
				} else {
					groupNotCreated(e);
				}
			}

			function betsNotSaved(e) {
				alert("An error occured while saving [" + e.message + "].");
			}

			function betsSaved(e) {
				if (e.result) {
					// Nothing to do
				} else {
					betsNotSaved(e);
				}
			}

			function joinGroupFct(name) {
				var joinGroup = new FormData();
				joinGroup.append('group_name', name);
				$.ajax({
					url: '/group_join.html',
					type: 'POST',
					data: joinGroup,
					processData: false,
					contentType: false,
					success: groupJoined,
					error: groupNotJoined
				});
			}

			function createGroup(name, eventId) {
				var createForm = new FormData();
				createForm.append('group_name', name);
				createForm.append('event_id', eventId);
				$.ajax({
					url: '/group_create.html',
					type: 'POST',
					data: createForm,
					processData: false,
					contentType: false,
					success: groupCreated,
					error: groupNotCreated
				});
			}

			function checkAllBets() {
				$("tr.score").each(function() {
					var currentId = $(this).attr("id");
					var first = $("#first_" + currentId).val();
					var second = $("#second_" + currentId).val();
					$("#label_first_" + currentId).removeClass("warning");
					$("#label_first_" + currentId).removeClass("success");
					$("#label_first_" + currentId).removeClass("danger");
					$("#label_second_" + currentId).removeClass("warning");
					$("#label_second_" + currentId).removeClass("success");
					$("#label_second_" + currentId).removeClass("danger");
					if (first==second) {
						$("#label_first_" + currentId).addClass("warning");
						$("#label_second_" + currentId).addClass("warning");
					} else {
						if (Number(first)>Number(second)) {
							$("#label_first_" + currentId).addClass("success");
							$("#label_second_" + currentId).addClass("danger");
						} else {
							$("#label_first_" + currentId).addClass("danger");
							$("#label_second_" + currentId).addClass("success");
						}
					}
				});
				saveAllBets();
			}

			function saveAllBets() {
				$("tr.score").each(function() {
					var currentId = $(this).attr("id");
					var first = $("#first_" + currentId).val();
					var second = $("#second_" + currentId).val();
					var amount = $("#amount_" + currentId).val();
					all_bets[currentId]["score"]["first"] = Number(first);
					all_bets[currentId]["score"]["second"] = Number(second);
					all_bets[currentId]["amount"] = Number(amount);
				});
				var updateForm = new FormData();
				updateForm.append('all_bets', JSON.stringify(all_bets));
				$.ajax({
					url: '/bets_save.html',
					type: 'POST',
					data: updateForm,
					processData: false,
					contentType: false,
					success: betsSaved,
					error: betsNotSaved
				});
			}

			function updateAllBets() {
				{% if not allow_amount %}$("#eventsTable th:last-child, #eventsTable td:last-child").remove();{% endif %}
				$("tr.score").each(function() {
					var currentId = $(this).attr("id");
					var disabled = all_bets[currentId]['enabled']!='true';
					$("#first_" + currentId).val(all_bets[currentId]["score"]["first"]);
					$("#second_" + currentId).val(all_bets[currentId]["score"]["second"]);
					$("#amount_" + currentId).val(all_bets[currentId]["amount"]);
					$("#first_" + currentId).prop('disabled',disabled);
					$("#second_" + currentId).prop('disabled',disabled);
					$("#amount_" + currentId).prop('disabled',disabled);
				});
				checkAllBets();
			}

			function dateHasChanged() {
				currentDate = $("#eventDate").val();
				$('#eventTableDiv').load('/static/events/' + currentDate + '_en.html',updateAllBets);
			}

		</script>
	</head>
	<body>
		<div class="container" style="padding: 0 15px;">
			{% if request.user.is_authenticated %}
				<div class="row">
					<div class="col-lg-10">
						<h1 class="">Bienvenue {{ request.user.first_name }} {{ request.user.last_name }}</h1>
			  			<p class="lead">{% if global_rank.rank %}Vous êtes classé <span class="label label-info">{{global_rank.rank}}</span> avec un score de <span class="label label-info">{{global_rank.overall_score}}</span>.{% else %}Vous n'avez pas encore de classement.{% endif %}

					</div>
					{% if request.user.is_superuser %}
					<a href="/matchs_edit.html" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="Gérer les matchs">
						<span class="glyphicon glyphicon-dashboard"></span>
					</a>
					<a href="/matchs_compute.html" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="Calculer les scores">
						<span class="glyphicon glyphicon-refresh"></span>
					</a>					
					{% endif %}
					<a href="/index.html" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="Retour à l'index">
						<span class="glyphicon glyphicon-home"></span>
					</a>
					<a href="/accounts/logout" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="Quitter">
						<span class="glyphicon glyphicon-off"></span>
					</a>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-lg-2">
						<input type="text" class="form-control no-enter text-center" id="eventDate" name="eventDate" placeholder="Event date" onchange="dateHasChanged()">
					</div>
					{% if member_groups %}
					<div class="col-lg-2 btn-group">
						<button type="button" class="btn btn-default dropdown-toggle col-lg-11" data-toggle="dropdown">Mes groupes <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
							{% for group in member_groups %}
								<li><a href="/group_view.html?group_id={{group.id}}">{{group.name}}</a></li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
					{% if admin_groups %}
					<div class="col-lg-2 btn-group">
						<button type="button" class="btn btn-default dropdown-toggle col-lg-11" data-toggle="dropdown">Gérer <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
							{% for group in admin_groups %}
								<li><a href="/group_edit.html?group_id={{group.id}}">{{group.name}}</a></li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
				</div>
				<div class="row">&nbsp;</div>
				<div class="row" id="eventTableDiv">
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
	  				<a href="#modal_join" class="btn btn-primary col-lg-offset-9" role="button" data-toggle="modal" data-placement="bottom" title="Rejoindre un groupe existant">Rejoindre un groupe</a>
	  				<a href="#modal_create" class="btn btn-success" role="button" data-toggle="modal" data-placement="bottom" title="Créer un nouveau groupe dans lequel vous pourrez inviter vos amis">Créer un groupe</a>
	  			</div>
				<div class="modal fade" id="modal_create" tabindex="-1" role="dialog" aria-labelledby="modal_create" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="modal_create">Créer un nouveau groupe</h4>
							</div>
							<div class="modal-body">
								<form id="newGroup" role="form" class="form-horizontal" action="/group_create.html" method="POST" onsubmit="">{% csrf_token %}
									<div class="form-group">
										<label for="groupName" class="col-lg-2 col-lg-offset-1">Nom:</label>
										<input id="groupName" class="col-lg-6 no-enter" name="groupName" type="text" placeholder="Insérer le nom du groupe ici">
										<a type="button" class="btn btn-xs btn-default col-lg-2 col-lg-offset-1" onclick="createGroup(newGroup.groupName.value, newGroup.attachedEvent.value)">Enregistrer</a>
									</div>
									<div class="form-group">
										<label for="attachedEvent" class="col-lg-2 col-lg-offset-1">Evénement:</label>
										<div class="col-lg-6">
											<select class="no-enter" id="attachedEvent" name="attachedEvent">
												{% for event in events %}
													<option value="{{event.id}}">{{event.name}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<span class="label label-warning col-lg-12"></span>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="modal_join" tabindex="-1" role="dialog" aria-labelledby="modal_join" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="modal_join">Rejoindre un groupe</h4>
							</div>
							<div class="modal-body">
								<form id="joinGroup" role="form" class="form-horizontal" action="/group_join.html" method="POST" onsubmit="">{% csrf_token %}
									<div class="form-group">
										<label for="groupName" class="col-lg-2 col-lg-offset-1">Nom:</label>
										<input id="groupName" class="col-lg-6 no-enter" name="groupName" type="text" placeholder="Insérer le nom du groupe ici">
										<a type="button" class="btn btn-xs btn-default col-lg-2 col-lg-offset-1" onclick="joinGroupFct(joinGroup.groupName.value)">Rejoindre</a>
									</div>
									<span class="label label-warning col-lg-12"></span>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<div class="row">
					<div class="col-lg-11">
						<h1 class="">Bienvenue sur unpari.fr</h1>
			  			<p class="lead">Ici, vous ne risquez pas de vous faire dépouiller car il n'est aucunement possible de miser une somme d'argent. Ce site sert simplement à garder une trace de vos pronostics et de comparer vos résultats avec tous les membres du site ou simplement un groupe d'amis/collègues.
			  		</div>
				</div>
		  		<div class="row">
		  			Pas d'inscription, il suffit simplement de posséder un compte Facebook et de vous identifier en utilisant ce même compte. Aucun email indésirable ne sera envoyé à vos contacts.
				</div>
				<div class="row">&nbsp;</div>
				<div class="row text-center">
		    		<a href="/accounts/login" class="btn btn-primary btn-lg" role="button">Entrer</a>
		    	</div>
		    	<div class="row">&nbsp;</div>
		    	<div class="row">&nbsp;</div>
		    	<div class="row text-center">Ci-dessous, vous trouverez les événements sur lesquels vous pouvez actuellement parier.</div>
		    	<div class="row">&nbsp;</div>
		    	<div class="row">
		    		<table class="table">
		    			<tr><th>Evénement</th><th>Sport</th><th>Du</th><th>au</th></tr>
		    		{% for event in events %}
		    			<tr><td>{{event.name}}</td><td>{{event.sport.name}}</td><td>{{event.start_date|date:'M d, Y'}}</td><td>{{event.end_date|date:'M d, Y'}}</td></tr>
		    		{% endfor %}
		    		</table>
		    	</div>
		    	<div style="height: 40px;">&nbsp;</div>
		    	<div class="row h6">Ce site utilise des icônes en provenance de <a href="http://glyphicons.com/">GlyphIcons</a></div>
			{% endif %}
		</div>

	</body>
