{% extends "bets_base.html" %}
{% load bets_tags %}
{% block title %}Planifier les matchs{% endblock %}
{% block readyoptions %}
				$("#eventDate").datepicker({ dateFormat: "yy-mm-dd", beforeShowDay: availableEventDate });
				currentDate = allDates[0];
				$("#eventDate").val(currentDate);
				dateHasChanged();
{% endblock %}
{% block headeroptions %}
		<script>
			function dateOrTimeChanged(match_id) {
				$("#save_" + match_id).removeClass("invisible");
			}

			function matchsNotSaved(e) {
				alert("An error occured while saving [" + e.message + "].");
			}

			function matchsSaved(e) {
				if (e.result) {
					document.getElementById( "matchsForm" ).reset();
					location.reload();
				} else {
					betsNotSaved(e);
				}
			}

			function saveOneMatch(match_id) {
				var date_val = $("#date_" + match_id).val();
				var time_val = $("#time_" + match_id).val();
				var updateForm = new FormData();
				updateForm.append('new_date', date_val);
				updateForm.append('new_time', time_val);
				updateForm.append('match_id', match_id);
				$.ajax({
					url: '/matchs_schedule_update.html',
					type: 'POST',
					data: updateForm,
					processData: false,
					contentType: false,
					success: matchsSaved,
					error: matchsNotSaved
				});
			}
		</script>
{% endblock %}
{% block pageheader %}
							<h1 class="">Editer la planification</h1>
				  			<p class="lead">C'est par ici pour changer les jours et horaires des matchs.
{% endblock %}
{% block content %}
				<form id="matchsForm">
					<div class="row" id="eventTableDiv">
						<table class="table col-lg-12">
							<tr><th>Match</th><th>Premier participant</th><th>Deuxième participant</th><th>Date</th><th>Heure</th><th>Action</th></tr>
							{% for match in all_matchs %}
								<tr id="{{match.id}}">
									<td>{{match.name}}</td>
									<td>{{match.first.name}}</td>
									<td>{{match.second.name}}</td>
									<td><input id="date_{{match.id}}" value="{{match.when|date:'Y-m-d'}}" class="form-control no-enter text-center date-field" onchange="dateOrTimeChanged({{match.id}})"/></td>
									<td><input id="time_{{match.id}}" value="{{match.when|date:'H:i'}}" class="form-control no-enter text-center time-field" onchange="dateOrTimeChanged({{match.id}})"/></td>
									<td><button id="save_{{match.id}}" type="button" class="btn btn-info btn-sm invisible" onclick="saveOneMatch({{match.id}})">Sauvegarder</button></td>
								</tr>
							{% endfor %}
						</table>
					</div>
				</form>
{% endblock %}