{% extends "bets_base.html" %}
{% load bets_tags %}
{% block title %}Affecter les scores{% endblock %}
{% block readyoptions %}
				$("#eventDate").datepicker({ dateFormat: "yy-mm-dd", beforeShowDay: availableEventDate });
				currentIndex = 0;
				currentDate = allDates[currentIndex];
				$("#eventDate").val(currentDate);
				selectedEventId =$("#bettableEventSelect").val();
				somethingChanged();
{% endblock %}
{% block headeroptions %}
		<script>
			var allDates = {{all_dates|safe}};
			var all_matchs = {};
			var currentDate;
			var currentIndex = 0;
			var selectedEventId;


			function availableEventDate(dt) {
				var ymd = dt.toString('yyyy-MM-dd');
				if ($.inArray(ymd, allDates)!=-1) {
					return [true, "", "Available"];
				} else {
					return [false, "", "unAvailable"];
				}
			}

			function checkAllMatchs() {
				$("tr.score").each(function() {
					var currentId = $(this).attr("id");
					var first = $("#first_" + currentId).val();
					var second = $("#second_" + currentId).val();
					$("#label_first_" + currentId).removeClass("warning");
					$("#label_first_" + currentId).removeClass("success");
					$("#label_first_" + currentId).removeClass("danger");
					$("#label_second_" + currentId).removeClass("warning");
					$("#label_second_" + currentId).removeClass("success");
					$("#label_second_" + currentId).removeClass("danger");
					if (first==second) {
						$("#label_first_" + currentId).addClass("warning");
						$("#label_second_" + currentId).addClass("warning");
					} else {
						if (Number(first)>Number(second)) {
							$("#label_first_" + currentId).addClass("success");
							$("#label_second_" + currentId).addClass("danger");
						} else {
							$("#label_first_" + currentId).addClass("danger");
							$("#label_second_" + currentId).addClass("success");
						}
					}
				});
			}

			function matchsNotSaved(e) {
				alert("An error occured while saving [" + e.message + "].");
			}

			function matchsSaved(e) {
				if (e.result) {
					// Nothing to do
				} else {
					betsNotSaved(e);
				}
			}

			function saveOneMatch(currentId) {
				var first = $("#first_" + currentId).val();
				var second = $("#second_" + currentId).val();
				all_matchs = {};
				all_matchs[currentId] = {"score":{}};
				all_matchs[currentId]["score"]["first"] = Number(first);
				all_matchs[currentId]["score"]["second"] = Number(second);
				var updateForm = new FormData();
				updateForm.append('all_matchs', JSON.stringify(all_matchs));
				$.ajax({
					url: '/matchs_save.html',
					type: 'POST',
					data: updateForm,
					processData: false,
					contentType: false,
					success: matchsSaved,
					error: matchsNotSaved
				});
			}

			function saveAllMatchs() {
				all_matchs = {}
				$("tr.score").each(function() {
					var currentId = $(this).attr("id");
					var first = $("#first_" + currentId).val();
					var second = $("#second_" + currentId).val();
					all_matchs[currentId] = {"score":{}};
					all_matchs[currentId]["score"]["first"] = Number(first);
					all_matchs[currentId]["score"]["second"] = Number(second);
				});
				var updateForm = new FormData();
				updateForm.append('all_matchs', JSON.stringify(all_matchs));
				$.ajax({
					url: '/matchs_save.html',
					type: 'POST',
					data: updateForm,
					processData: false,
					contentType: false,
					success: matchsSaved,
					error: matchsNotSaved
				});
			}

			function updateAllMatchs() {
				applyNumericOnly();
				checkAllMatchs();
			}

			function changeDay(way) {
				var newIndex = currentIndex + way;
				if (currentIndex>=0 && currentIndex<allDates.length) {
					currentIndex = newIndex;
					$("#eventDate").val(allDates[currentIndex]);
					somethingChanged();
				}
			}

			function somethingChanged() {
				currentDate = $("#eventDate").val();
				selectedEventId =$("#bettableEventSelect").val();
				$("#previousDay").removeClass("invisible");
				$("#nextDay").removeClass("invisible");
				if (currentIndex==0 || currentIndex==-1) {
					$("#previousDay").addClass("invisible");
				}
				if (currentIndex==allDates.length-1 || currentIndex==-1) {
					$("#nextDay").addClass("invisible");
				}
				$('#eventTableDiv').load('/static/matchs/' + selectedEventId + '/' + currentDate + '_en.html',updateAllMatchs);
			}
		</script>
{% endblock %}
{% block pageheader %}
						<h1 class="">Editer les résultats</h1>
			  			<p class="lead">C'est par ici pour changer les résultats des matchs.
{% endblock %}
{% block content %}
				<div class="row">
					<button id="previousDay" class="btn btn-default" style="float: left;" onclick="changeDay(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button>
					<div class="col-lg-2">
						<input type="text" class="form-control no-enter text-center" id="eventDate" name="eventDate" placeholder="Event date" onchange="somethingChanged()">
					</div>
					<button id="nextDay" class="btn btn-default" style="float: left;" onclick="changeDay(1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
					<div class="col-lg-3 col-lg-offset-6">
						<select id="bettableEventSelect" class="form-control" onchange="somethingChanged()">
							{% for event in events %}
							<option value="{{event.id}}">{{event.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row" id="eventTableDiv">
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<button type="button" class="btn btn-primary btn-lg col-lg-offset-10" onclick="saveAllMatchs()">Sauvegarder tous</button>
				</div>
{% endblock %}